@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300&display=swap');

html {
    font-size: 14px;
}

body {
    margin: 0;
    background-color: #f4f4f4;
}

h2, h3, p {
    margin: 0;
    font-family: futura pt light,'Noto Sans TC', sans-serif;
}

label {
    display: flex;
    margin: 0px;
}

/*Public*/
.backhomelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
}

.totoplogo {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 50px;
    display: flex;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.ImgLogo {
    width: 40px;
}

.slide {
    top: 0;
    overflow: scroll;
    height: -webkit-fill-available;
    min-width: 220px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    display: flex;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-150%);
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.sidebarinput {
    top: 20px;
    left: 20px;
    position: absolute;
    -webkit-appearance: none;
}

.triangle {
    width: 300px;
    height: 300px;
    background-color: orange;
    transform: rotate(45deg);
    position: absolute;
    left: -150px;
    top: -150px;
    cursor: pointer;
    z-index: 1;
}

.smalltriangle {
    width: 80px;
    height: 80px;
    background-color: #212529;
    position: absolute;
    left: 130px;
    cursor: pointer;
    z-index: 0;
    top: 0;
}

.smalltriangle-text {
    color: #fff;
    position: absolute;
    left: 20px;
    top: 30px;
    font-family: futura pt light,'Noto Sans TC', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.setting {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingIcon {
    cursor: pointer;
    animation: cycleing 3s infinite linear;
    z-index: 2;
    border-radius: 50%;
}

.settingFont {
    color: #fff;
}

@keyframes cycleing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.toggle {
    z-index: 100;
}

.sidebarinput:checked ~ .slide {
    transform: translateY(0px);
}

.gearB {
    width: 80px;
    animation: cycleing 4s infinite linear;
}

.gearBL {
    width: 100px;
    animation: cycleing 4s infinite linear;
}

.gearOG {
    width: 80px;
    animation: reversecycleing 5s infinite linear;
}

.rightGears {
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 100px;
}

.leftGears {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 100px;
}

@keyframes cycleing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes reversecycleing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.rowCss {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columnCss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cata {
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 60px;
    color: #1A5A76;
}

.catablock {
    color: #5BADD0;
    width: 100%;
    border-bottom: 0.5px solid #babecc;
    font-family: futura pt light,'Noto Sans TC', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.slideItem {
    text-decoration: none;
    font-size: 19px;
    color: rgb(93, 108, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
}

    .slideItem:hover {
        color: #ABDEF4;
    }

.sliderowCss {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.theContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block {
    margin: 100px 0 0 0;
    padding: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.catabigblock {
    margin: 200px 0 0 0;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BigTitleW {
    font-size: 60px;
    color: #fff;
}

.BigTitleW-Little {
    font-size: 25px;
    color: #fff;
}

.BigTitleB {
    font-size: 65px;
}

.Card-Title {
    font-size: 30px;
    font-weight: bold;
}

.card-word-item {
    margin: 0 0 15px 0;
}

.LittleTitleB {
    color: rgb(93, 108, 116);
    font-size: 50px;
}

.FontPB {
    max-width: 500px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.FontPBT {
    max-width: 500px;
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.FontPW {
    margin: 10px;
    text-align: center;
    max-width: 500px;
    font-size: 20px;
    color: rgb(93, 108, 116);
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}


.FontPBL {
    text-align: left;
    font-size: 20px;
    max-width: 500px;
    color: #d7dde5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.FontPBLT {
    text-align: left;
    font-size: 20px;
    max-width: 500px;
    color: #d7dde5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
.indexheadP{
    width: 300px;
    text-align: left;
    font-size: 15px;
    color: #d7dde5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
/*Index*/
.homeproductlogo {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.indexHaeder {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url("./Img/Home/indexbackground.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.index-about-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 32px 0 32px;
    justify-content: center;
}

.indexHeaderImg {
    width: 500px;
    border-radius: 20px;
}

.indexAboutImg {
    width: 500px;
}

.indexCards {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.indexCardsF {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.indexCards-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flip-card {
    margin: 20px;
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-none-flip {
    z-index: 1;
    margin: 20px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back, .flip-card-back-none-flip {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgb(0 0 0 / 15%);
    color: black;
}

.flip-card-back {
    background-color: #1A5A76;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgb(0 0 0 / 15%);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-card-back-none-flip {
    background-color: #1A5A76;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgb(0 0 0 / 15%);
    transform-style: preserve-3d;
}

.flip-card-font {
    transform: translateZ(60px) scale(.94);
}

.midindexCard {
    margin-left: 30px;
    margin-right: 30px;
}

.indexHaeder-font {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 35px 0px 35px;
}

.indexContactblock {
    width: 100%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 300px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px 0 0 0;
}

.Contactinput {
    width: 250px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Contactselect {
    display: block;
    width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ContactContainer {
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.indexGoogleMap {
    position: relative;
    top: -100px;
    left: -50px;
    margin-bottom: 20px;
}

.homemap {
    background: white;
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}

.homemapbtn1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 85px;
    left: 50px;
    width: 100px;
    background-color: #ffa500;
    color: white;
    height: 30px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.homemapbtn2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 98px;
    left: 30px;
    width: 100px;
    background-color: #ffa500;
    color: white;
    height: 30px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.homemapbtn1:hover {
    background-color: #fff;
    color: black;
    border: #000 0.5px solid;
}

.homemapbtn2:hover {
    background-color: #fff;
    border: #000 0.5px solid;
    color: black;
}

.buttonCss {
    background-color: #ffa500;
    color: aliceblue;
    border-radius: 10px;
    border: #ffa500;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .buttonCss:hover {
        background-color: #fff;
        color: black;
    }
/*Footer*/
.Footercontainer {
    color: #fff;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}
/*Product*/
.productHaeder {
    width: 100%;
    height: 600px;
    border-radius: 0 0 800px 0;
    background-color: #1A5A76;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.productHaeder-font {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 35px;
    align-items: center;
}

.PHeaderImg {
    width: 500px;
    border-radius: 20px;
    animation: move 3s linear infinite;
}

@keyframes move {
    25% {
        transform: translate(4px,-4px);
    }

    50%, 100% {
        transform: translateX(0px,0px);
    }

    75% {
        transform: translateX(-4px,4px);
    }
}

.CircleS {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 200px;
    height: 200px;
    border: 8px solid rgb(70, 70, 70);
    border-radius: 50%;
    position: relative;
    margin: 30px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.product-block {
    margin: 50px 0 50px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-font {
    margin-left: 30px;
    padding: 20px;
    align-items: center;
    background-color: #ABDEF4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.Mesapplication {
    width: 800px;
    border-radius: 20px;
}

.Wmsapplication, .wmsconclustion {
    width: 400px;
}
.wmsconclustion2{
    width: 70%;
}
.product-bigblock {
    margin: 200px 0 0 0;
    width: 100%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 600px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-benefit-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    flex: calc(calc(100% / 4) - 48px);
}

.product-benefit-title {
    font-size: 30px;
}

.benefit-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefit-block-two {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-img-font {
    padding: 0 35px 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*mes*/
.mesfunction{
    width: 70%;
}
.product-mes-benefit {
    height: 150px;
}

.rfidconclustion {
    width: 500px;
}

.product-rfid-factories {
    position: relative;
    top: -140px;
    left: -300px;
}
/*wms*/
.P-wms-HeaderImg {
    width: 700px;
    border-radius: 20px;
    animation: move 3s linear infinite;
}

.product-wms-block {
    padding: 100px;
    margin: 150px 0 0 0;
    width: 100%;
    border-radius: 0 800px 0 0;
    align-items: center;
    background-color: #1A5A76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-wms-bigblock {
    width: 100%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 600px 0 0 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wmsimgBx {
    position: absolute;
    top: -60px;
    height: 100px;
    color: white;
    background-color: #1a5a76;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.35);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.wmscard {
    position: relative;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.wmscardS {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 0 0 50px 0;
}

.wmscardS-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.WMStitle {
    width: 500px;
}

.wms-factory {
    width: 130px;
    position: relative;
    right: -500px;
}

.wms-cloud {
    width: 130px;
    position: relative;
    right: -500px;
    animation: fadein 3s ease infinite;
}

@keyframes fadein {
    0% {
        opacity: 0.8;
    }

    25% {
        transform: translate(4px,-4px);
    }

    50% {
        transform: translateX(0px,0px);
    }

    75% {
        transform: translateX(-4px,4px);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.product-block-factorycloud {
    margin: 50px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*RFID*/
.productRFIDheader {
    width: 500px;
    border-radius: 20px;
}

.product-rfid-bigblock {
    margin: 200px 0 0 0;
    width: 100%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 600px 600px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-rfid-block {
    margin: 200px 0 0 0;
    width: 100%;
    border-radius: 0 800px 0 0;
    align-items: center;
    background-color: #1A5A76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


/*Case*/
.timeContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 20px 0;
    width: 80%;
}

.timeline {
    margin: 30px 0 100px 0;
    width: 80%;
    height: auto;
    max-width: 800px;
    position: relative;
}

    .timeline ul {
        list-style: none;
        padding: 0;
    }

        .timeline ul li {
            padding: 20px;
            background-color: #5BADD0;
            color: white;
            border-radius: 10px;
            margin-bottom: 20px;
        }

            .timeline ul li:last-child {
                margin-bottom: 0;
            }

.timeline-content h1 p {
    color: white;
}

.timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

@media (min-width: 0px) {
    /*public*/
    .BigTitleB {
        font-size: 40px;
    }

    .LittleTitleB {
        font-size: 25px;
    }

    .BigTitleW {
        font-size: 30px;
    }

    .triangle {
        top: -200px;
        left: -200px;
        position: fixed;
    }

    .setting {
        top: 10px;
        left: 10px;
        position: fixed;
    }

    .settingFont {
        display: none;
    }

    .settingIcon {
        width: 50px;
    }

    .slide {
        width: 100%;
        position: fixed;
    }

    .leftGears, .rightGears {
        display: none;
    }

    .cata {
        top: 0px;
    }

    .catabigblock {
        margin: 50px 0 0 0;
    }
    /*product*/
    .productHaeder {
        flex-direction: column;
        margin: 0 0 200px 0;
    }

    .productHaeder-font {
        margin: 200px 0 0 0;
    }

    .product-img-font {
        flex-direction: column;
    }

    .benefit-block-two {
        flex-direction: column;
    }

    .product-wms-block {
        flex-direction: column;
        padding: 50px 35px 50px 35px;
    }

    .product-bigblock {
        margin: 100px 0 0 0;
    }

    .PHeaderImg, .P-wms-HeaderImg, .Mesapplication, .Wmsapplication, .wmsconclustion, .Mesconclusion, .rfidconclustion {
        width: 80%;
    }

    .wmscardS-2 {
        flex-direction: column;
        margin: 0;
    }

    .wmscardS {
        flex-direction: column;
    }

    .wmscard {
        margin-bottom: 50px;
    }

    .ContactContainer {
        margin: 0 0 50px 0;
        padding: 0 35px 0 35px;
    }

    .product-rfid-block {
        padding: 50px 35px 50px 35px;
    }

    .wms-factory, .wms-cloud {
        display: none;
    }
    /*index*/
    .homemapbtn1 {
        top: 75px;
    }

    .homemapbtn2 {
        top: 80px;
    }

    .indexHaeder-font {
        margin: 20px 0 0 0;
    }

    .indexContactblock {
        flex-direction: column;
    }

    .indexHaeder {
        flex-direction: column;
        margin: 0 0 100px 0;
    }

    .index-about-block {
        flex-direction: column;
    }

    .indexHeaderImg {
        margin: 30px 0 30px 0;
        width: 40%;
    }

    .indexCards {
        flex-direction: column;
    }

    .indexAboutImg {
        margin: 30px 0 0 0;
        width: 80%;
    }

    .indexCards-2 {
        flex-direction: column;
    }

    .indexGoogleMap {
        position: initial;
    }

    .homemap {
        width: 300px;
    }

    .midindexCard {
        margin: 0;
    }

    .benefit-block {
        flex-direction: column;
    }

    .product-rfid-factories {
        display: none;
    }
}

@media (min-width: 768px) {
    /*timeline*/
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: #9d9d9d;
    }

    .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

        .timeline ul li:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-30px);
            border-radius: 20px 0px 20px 20px;
        }

        .timeline ul li:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
            border-radius: 0px 20px 20px 20px;
        }

        .timeline ul li::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #9d9d9d;
            top: 0px;
        }

        .timeline ul li:nth-child(odd)::before {
            transform: translate(50%, -50%);
            right: -30px;
        }

        .timeline ul li:nth-child(even)::before {
            transform: translate(-50%, -50%);
            left: -30px;
        }

        .timeline ul li:hover::before {
            background-color: #1A5A76;
        }
    /*product*/
    .PHeaderImg, .P-wms-HeaderImg, .Mesapplication, .Wmsapplication, .wmsconclustion, .Mesconclusion, .rfidconclustion {
        width: 40%;
    }

    .benefit-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefit-block-two {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .wmscardS {
        flex-direction: column;
    }

    .wmscardS-2 {
        margin: 0 0 50px 0;
        flex-direction: row;
    }

    .product-img-font {
        flex-direction: row;
    }

    .productHaeder {
        flex-direction: row;
    }

    .product-rfid-factories {
        display: initial;
    }

    .wms-factory, .wms-cloud {
        display: initial;
        right: -300px;
    }

    .slide {
        width: 250px;
    }
    /*index*/
    .indexHaeder {
        flex-direction: row;
    }

    .index-about-block {
        flex-direction: row;
    }

    .indexHeaderImg {
        margin: 30px 0 30px 0;
        width: 50%;
    }

    .indexCards {
        flex-direction: column;
    }

    .indexAboutImg {
        margin: 30px 0 0 0;
        width: 60%;
    }

    .ContactContainer {
        margin: 0 0 30px 0;
        max-width: 350px;
    }

    .indexCards-2 {
        flex-direction: row;
    }

    .indexContactblock {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    /*public*/
    .leftGears, .rightGears {
        display: flex;
    }

    .FontPB, .FontPW, .FontPBL {
        width: 300px;
    }

    .BigTitleB {
        font-size: 60px;
    }

    .LittleTitleB {
        font-size: 45px;
    }

    .BigTitleW {
        font-size: 50px;
    }

    .triangle {
        top: -150px;
        left: -150px;
    }

    .settingIcon {
        width: 70px;
    }

    .setting {
        top: 20px;
        left: 20px;
    }

    .settingFont {
        display: flex;
    }

    .cata {
        top: 100px;
    }

    .catabigblock {
        margin: 200px 0 0 0;
    }
    /*product*/
    .productHaeder {
        flex-direction: row;
    }

    .benefit-block {
        flex-direction: column;
    }

    .benefit-block-two {
        flex-direction: row;
    }

    .product-img-font {
        flex-direction: row;
    }

    .Mesapplication {
        width: 500px;
    }

    .Mesconclusion {
        width: 500px;
    }

    .P-wms-HeaderImg {
        width: 500px;
    }

    .wmscardS {
        flex-direction: column;
    }

    .wmscardS-2 {
        flex-direction: row;
    }
    /*index*/
    .homemap {
        width: 350px;
    }

    .homemapbtn1 {
        top: 85px;
        left: 70px;
    }

    .homemapbtn2 {
        top: 93px;
    }

    .indexHaeder {
        flex-direction: row;
    }

    .indexCards {
        flex-direction: row;
    }

    .index-about-block {
        flex-direction: row;
    }

    .indexCards-2 {
        flex-direction: row;
    }

    .indexContactblock {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .wms-factory, .wms-cloud {
        right: -600px;
        display: initial;
    }

    .benefit-block {
        flex-direction: row;
    }

    .wmscardS {
        flex-direction: row;
    }

    .wmscardS-2 {
        flex-direction: row;
        margin: 0;
    }

    .homemap {
        width: 350px;
    }

    .indexGoogleMap {
        position: relative;
    }
}
